{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    {% block extrastatic %}
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="description" content="Aesthetic Template">
    <meta name="keywords" content="Aesthetic, unica, creative, html">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adopta un perrito</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Linkeos -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    {% comment %} <link rel="stylesheet" href="{% static 'css/perritos.css' %}" type="text/css"> {% endcomment %}
    


    <!-- Estilo menu responsive -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>

    {% endblock %}

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <title>{% block title %}Document {% endblock %}</title>
</head>

<body {position:relative !important;display:block;}>

    <!-- Preloader -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <header class="header">

        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <div class="header__menu__option">
                        <!-- Links de paginas (crear paginas) -->
                        <nav class="header__menu">
                            <ul>
                                <li class="nav-item"><a href="{% url 'home' %}">Inicio</a></li>
                                <li class="nav-item"><a href="{% url 'list_perros' %}">Perros en adopcion</a></li>
                                <li class="nav-item"><a href="{% url 'add_perro' %}">Dar en adopcion</a></li>
                                <li class="nav-item"><a href="{% url 'registrar' %}">Registrarse</a></li>
                                {% comment %} en progreso {% endcomment %}
                                <li class="nav-item"><a href="{% url 'perro_collection' %}">API</a></li>
                                <li class="nav-item"><a href="{% url 'iden_razas' %}">Identificador de razas</a></li>
                                <li class="nav-item"><a href="{% url 'productos_list' %}">Mini tienda</a></li>
                                <li>
                                    {% if user.is_authenticated %}
                                    <a href="{% url 'logout' %}">Logout</a>
                                    {% else %}
                                    <a href="{% url 'login' %}">Login</a>
                                    {% endif %}
                                </li>
                            </ul>
                        </nav>
                        
                    <!-- MENU RESPONSIVO BTN -->
                    <div class="menu_responsivo">
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-bars"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'home' %}">Inicio</a>
                            <a class="dropdown-item" href="{% url 'list_perros' %}">Adoptar</a>
                            <a class="dropdown-item" href="{% url 'add_perro' %}">Servicio corte de pelo</a>
                            <a class="dropdown-item" href="{% url 'registrar' %}">Sobre Nosotros</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Final de header -->
    


    {% block content %}

    {% endblock %}





    {% block footer %}
    <!-- FOOTER -->
    <footer class="footer">

        <div class="container">
            <div class="row">
                <!-- REDES -->
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer__address">
                        <h5>Síguenos</h5>
                        <ul>
                            <li><i class="fa fa-map-marker"></i> Santiago, RM, Chile.</li>
                            <li><i class="fa fa-instagram"></i>@Perritos_en_adopcion</li>
                            <li><i class="fa fa-twitter"></i>@Peritos_adopcion_TW</li>
                            <li><i class="fa fa-envelope"></i> Perr.adopt123@gmail.com</li>
                        </ul>
                    </div>
                </div>

                <!-- COPYRIGHT -->
            </div>
        </div>
        <div class="footer__copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="footer__copyright__text">
                            <p>Copyright &copy;
                                <script>
                                    document.write(new Date().getFullYear());
                                </script> Alvaro Arriaza | Gabriel Florit
                            </p>
                        </div>
                    </div>
                    <!-- TERMINOS DE USO -->
                    <div class="col-lg-5">
                        <ul>
                            <li>Todos los derechos reservados</li>
                            <li>Politicas de privacidad</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- FINAL DE FOOTER -->
    {% endblock%}
    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    {% block extrajs %}
    <script src="{%  static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{%  static 'js/bootstrap.min.js' %}"></script>
    <script src="{%  static 'js/masonry.pkgd.min.js' %}"></script>
    <script src="{%  static 'js/jquery-ui.min.js' %}"></script>
    <script src="{%  static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{%  static 'js/jquery.slicknav.js' %}"></script>
    <script src="{%  static 'js/owl.carousel.min.js' %}"></script>
    <script src="{%  static 'js/main.js' %}"></script>
    <script src="{%  static 'js/perritos.js' %}"></script>
    {% endblock %}

</body>

</html>